*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 100px;
    background-color: #5e6572;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.logo{
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-style: oblique;
    font-weight: 800;
    font-size:xx-large;

}

#logo_pic{
    height: 100px;
    width: 110px;
    background-size: cover;
    background-image: url(logo_1.png);
    background-color: aqua;
    
}

.ingame_option{
    display: flex;
    gap: 8em;
    margin-right: 200px;
}
#ingame_option{
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    background-color: black;
    color: white;
    font-weight: 800;
    font-size: large;
}
#ingame_option:hover{
    cursor: pointer;
}
.play_again{
    height: 50px;
    width: 180px;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.restart{
    height: 50px;
    width: 180px;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 84vh;
    background-color:#bcb382;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:7em;
}


.choose_box{
    height: 220px;
    width: 150px;
    border-radius: 2rem;
    background-color: blu;
    border: 1px solid #5e6572;
    display: flex;   
    justify-content: center;
    flex-wrap: wrap;
}
#play_letter{
    margin-left: 18px;
    margin-top: 5px;
}
.x_box{
    margin-top: 10px;
    height: 80px;
    width: 100%;
}
.y_box{
    height: 80px;
    width: 100%;
}

#game_optionX{
    height: 50px;
    width: 80%;
    margin-left: 15px;
    margin-right: 10px;
    background-color: #bcb382;
    border: 2px solid #5e6572;
    border-radius: 2rem;
    font-size: larger;
    font-weight: 700;
}
#game_optionY{
    height: 50px;
    width: 80%;
    margin-left: 15px;
    margin-right: 10px;
    background-color: #bcb382;
    border: 2px solid #5e6572;
    border-radius: 2rem;
    font-size: larger;
    font-weight: 700;
}
#game_optionX:hover{
    cursor: pointer;
    opacity: 0.5;
}
#game_optionY:hover{
    cursor: pointer;
    opacity: 0.5;
}

.game_box{
    height: 420px;
    width: 420px;
    border-radius: 1rem;
    background-color: rgb(181, 194, 194);
    display: flex;
    flex-wrap: wrap;
    
}

.slot{
    height: 33%;
    width: 32.82%;
    border: 1px solid black;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xxx-large;
    font-weight: 800;
}

.slot:hover{
    cursor: pointer;
    opacity: 1;
    box-shadow: 2px 3px 2px 0px;
}

.s1{
    border-top-left-radius:1rem;
}

.s3{
    border-top-right-radius:1rem;
}

.s7{
    border-bottom-left-radius:1rem;
}

.s9{
    border-bottom-right-radius:1rem;
}

.score_box{
    height: 420px;
    width: 300px;
    border: 6px solid #5e6572;
    border-radius: 2rem;
}

#h1score{
    padding-left: 12%;
    padding-top: 10px;
}

.max_score{
    height: 2%;
    width: 100%;
    border-top:  4px solid #5e6572 ;
}

#p1{
    display: flex;
    justify-content: space-evenly;
    font-size: xx-large;
}

#p2{
    display: flex;
    justify-content: space-evenly;
    font-size: xx-large;
}

.player1_score{
    height: 30%;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 4px solid #5e6572;
    border-bottom: 4px solid #5e6572;
}

.player2_score{
    height: 30%;
    width: 100%;
    margin-top: 15px;
}

.p1score_no{
    height: 30%;
    width: 80%;
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xxx-large;
}
.p2score_no{
    height: 30%;
    width: 80%;
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xxx-large;
}